<!DOCTYPE html>
<html>
    <head th:include="fragments/head :: HeadCss"/>
    <body>
        <div th:replace="fragments/top-menu :: TopMenu('user')"/>

        <h3>Demo rapport</h3>

        <a href="#" class="list-group-item list-group-item-action" id="userReport" role="button" target="_blank" onclick="downloadFile('userReport', '/generatepdfreport')">Générer un rapport pdf</a>

        <br/>
        
        <div id="main" class="container-fluid">
            <table class="table">
                <tr th:each="user : ${users}">
                    <td th:text="${user.firstname}" />
                    <td th:text="${user.lastname}" />
                </tr>
            </table>

        </div>

        <script type="text/javascript">

             function downloadFile(idStr, url ){  
                var link = document.getElementById(idStr);
                link.setAttribute('href', url);
                return false;
            }

        </script>

    </body>
</html>